Flask==0.8
Flask-SQLAlchemy==0.16
Flask-Script==0.3.3

Jinja2==2.6
SQLAlchemy==0.7.8
Werkzeug==0.8.3
psycopg2==2.4.5

simplejson==2.5.2
pytz==2012c

celery==3.0.5
redis==2.6.0

# logging
raven==1.7.5
blinker==1.2
